body {
    background: radial-gradient(purple, blue, darkolivegreen, yellow, orange, crimson);
    margin: 0;
}

h1 {
    font-size: 32px;
    color: deepskyblue;
}

nav {
    display: flex;
    justify-content: space-between;
    background: navy;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    padding: 5px;
}

h2 {
    font-size: 24px;
    color: darkolivegreen;
}
section {
    display: block;
}

aside {
    text-align: center;
    color: white;
}

#projects img {
    max-width: 500px;
    margin: 10px auto;
    display: block;
}