* {
    box-sizing: border-box;
}

body {
    background: antiquewhite;
    font-family: sans-serif;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background: darkolivegreen;
}

h1 {
    font-size: 36px;
    color: antiquewhite;
    margin-left: 20px;
}

ul {
    list-style-type: none;
    display: flex;
}

ul li {
    padding: 5px;
    margin-right: 10px;
    margin-top: 0px;
}

ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}

#tree-header { /*This is the decorative banner under the header*/
    background-image: url("https://i.pinimg.com/736x/9f/42/d0/9f42d065f771bcc4832237d42b630767.jpg");
    height: 100px;
    margin-bottom: 10px;
    position: relative;
}

#tree-header p { /*This is the styling for the welcome message on the banner*/
    text-align: right;
    font-size: 30px;
    position: absolute;
    top: 30%;
    right: 0px;
    color: antiquewhite;
}

section {
    /* The commented text is for personal use, to check section padding and margins. 
    border-style: solid;
    border-width: 5px;
    border-radius: 50px; (round) */

    padding: 10px;
    width: 100%;
} 

section h2 { /* Section title styling */
    padding-left: 10px;
    font-size: 26px;
    color: darkolivegreen;
}

#about { /*Flex display allows for small screen adaptation*/
    display: flex;
    align-items: center;
    justify-content: center;
}

#about img { /*Image adapts to screen size but has min-width for small screen visibility*/
    width: 20%;
    min-width: 200px;
    margin: 10px;
}

#about p {
    width: 70%;
    margin: 0px 10px;
}

.small-pic-flex { /*Section for the smaller project images*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-grow { /*div section for anchored elements*/
    align-items: stretch;
    width: 50%;
}

#projects a { /*Anchored project elements adapt to screen size*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 5px;
}

#projects img:hover { /*Project images glow green when hovered over*/
    box-shadow: 0 0 5px 5px darkolivegreen;
}

#projects p { /*Project title cards*/
    position: absolute;
    top: 50%;
    left: 0px;
    font-size: 26px;
    padding: 18px;
    color: antiquewhite;
    background-color: darkolivegreen;
}

.big-pic{   
    width: 100%;
}

.lil-pic { 
    width: 100%;
}

#contact { /*Again, flex display to allow for adaptation*/
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

#contact a {
    color: green;
    font-size: 24px;
    margin: 0px 30px;
}

@media screen and (max-width: 768px) { /*The following sections enter column formation at 768px screen size*/
    main,
    nav,    
    #about, 
    #contact {
        flex-direction: column;
    }
}